.svg_width{
    width: 20px;
    height: 20px;
}

.display-flex {
    display: flex;
    justify-content: space-evenly;
}

.display-flex-end {
    display: flex;
    justify-content: space-evenly;
}

.float_left {
    float: right;
}

.margin_auto {
    margin: auto;
}